@tailwind base;
@tailwind components;
@tailwind utilities;



/* RTL افتراضي داخل هذا المحرر */
.ql-rtl .ql-editor {
  direction: rtl;
  text-align: right;
}

/* خلي الـ placeholder يبدأ من اليمين */
.ql-rtl .ql-editor.ql-blank::before {
  left: auto;
  right: 12px; /* عدّل المسافة حسب ذوقك */
  text-align: right;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0F7490; 
    border-radius: 10px;
}


.PhoneInputInput:focus ,
.PhoneInputInput {
  border: 0px !important;
  outline: none !important;
}

.PhoneInputInput {
  padding: 0px 10px ;
}